
@media (max-width: 600px) {
    #app-container{
        width: 300px; 
        height: 600px;
        
    }
    .weather-icon-div{
        height: 200px;
        width: 200px;
        margin: auto;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        
    }
};

@media(max-height:700px){
    #app-container{
        width: 300px; 
        height: 550px;

    }
    .weather-icon-div{
        height: 200px;
        width: 200px;
        margin: auto;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        
    }
}