
@import 'config';
*{
    padding: 0;
    margin: 0;
    font-family: $fontStack;
}



.container{
    height: 100vh;
}

#content{
    background-image: url(../images/snow.jpg);
    height: 100%;
    position:relative;
}



#app-container{
    position:absolute;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
    background-color: $lightGlass;  
    backdrop-filter: blur(5px);
    text-align: center;

    input {
        margin: 20px;
        width: 80%;
        border-radius: 5px;
        background: $darkGlass;
        border-style: none;
        padding: 5px;
        font-weight: bold;

        &:focus{
            outline: none; 
        }
    }
}


@import 'mobile'; // has to to be imported at end for it to work - not sure why